[submodule "submodulos/API_4SEM_BACK"]
	path = submodulos/API_4SEM_BACK
	url = https://github.com/TechHorizonBR/API_4SEM_BACK.git
[submodule "submodulos/API_4SEM_FRONT"]
	path = submodulos/API_4SEM_FRONT
	url = https://github.com/TechHorizonBR/API_4SEM_FRONT.git
